body {
    background-color: rgb(255, 245, 230);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#projectTitle{
    padding: 50px;
    text-align: center;
}

#projectAbout {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    line-height: 200%;
    font-weight: bold;
}

#projectMembers{
    padding: 50px;
    text-align: center;
}

.students {
    display: flex;
}

.pagebreak {
    padding-top: 8%;
    padding-bottom: 8%;
}

.s1 {
    flex: 1;
}

.underline {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
}